.dashboard {
  padding: 65px 0 0 6%;

  .user_container {
    @include direction-column;
    gap: 38px;
    padding-bottom: 77px;
  }

  .chart-container {
    @include direction-row;
    gap: 30px;

    .chart-wrapper {
      @include direction-column;
      gap: 30px;

      .chart-down {
        @include center-row-align;
      }
    }
    .macronutrient_container {
      @include direction-column;
      gap: 39px;
    }
  }
}
