.sidebar {
  @include center-column-space-evenly;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 117px;
  padding-top: 35px;
  top: 0;
  left: 0;
  background-color: $black;

  .img-wrapper {
    @include center-column;
    gap: 22px;

    .nav-img {
      width: 67px;
    }
  }
  .copyright {
    width: 150px;
    transform: rotate(-90deg);
  }
}
