.user-container {
  @include direction-row;
  gap: 30px;
  padding: 50px 0 0 50px;

  .user-card {
    @include center-column;
    background-color: $backGroundLightGrey;
    border: solid 1px $textGrey;
    gap: 20px;
    width: 100px;
    height: 140px;
    border-radius: 12px;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $backgroundLightsRed;
    }

    .img-profil {
      width: 58px;
    }
  }
}
