/*************************Setting mixin************************/
@mixin center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin direction-row {
  display: flex;
}

@mixin center-row-justify {
  display: flex;
  justify-content: center;
}

@mixin space-between-row {
  display: flex;
  justify-content: space-between;
}

@mixin space-between-row-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin direction-column {
  display: flex;
  flex-direction: column;
}

@mixin direction-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin row-reverse-space-between-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
